{% extends "default/index.html" %}
{% load static %}
{% block head %}
    <title>osu!za Private Tournament</title>
    <link rel="stylesheet" href="{% static 'ozapt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'ozapt/index.css' %}"/>
{% endblock head %}
{% block body %}

    <div class="content-box">
        <div class="content-body left-column-box">
            <a target="_blank"
               href="https://docs.google.com/document/d/1Rz9jDjiPaTtIMDcFVdYeVAQI7cM_iA1awR9vv3g-Phs/edit?usp=sharing">
                <img width="100%" src="{% static 'ozapt/images/about.png' %}" alt="About"/>
            </a>
        </div>
        <div class="content-body left-column-box">
            <a href="{{ mappool_url }}">
                <img width="100%" src="{% static 'ozapt/images/mappool.png' %}" alt="Mappool"/>
            </a>
        </div>
        <div class="content-body left-column-box">
            <a target="_blank" href="https://twitch.tv/Phreel">
                <img width="100%" src="{% static 'ozapt/images/twitch.png' %}" alt="Twitch"/>
            </a>
        </div>

        <div class="right-column">
            <div class="content-body">
                <!-- Add a placeholder for the Twitch embed -->
                <div id="twitch-embed"></div>

                <!-- Load the Twitch embed script -->
                <script src="{% static 'twitch-embed-v1.js' %}"></script>

                <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
                <script type="text/javascript">
                    var embed = new Twitch.Embed("twitch-embed", {
                        width: '100%',
                        height: '100%',
                        channel: "Phreel",
                        // only needed if your site is also embedded on embed.example.com and othersite.example.com
                        parent: ["ozapt.herokuapp.com"],
                        allowFullscreen: true,
                    });
                    document.getElementById('twitch-embed').style.display = 'none'
                    embed.addEventListener(Twitch.Embed.VIDEO_READY, function() {
                        document.getElementById('twitch-embed').style.display = 'block'
                    });
                </script>
            </div>
        </div>
    </div>

{% endblock body %}