{% extends "default/index.html" %}
{% load static %}
{% block head %}
    <title>osu!za Private Tournament</title>
    <link rel="stylesheet" href="{% static 'ozapt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'ozapt/index.css' %}"/>
{% endblock head %}
{% block body %}

    <div class="content-box">
        <div class="content-body left-column-box">
            <a target="_blank"
               href="https://docs.google.com/document/d/1Rz9jDjiPaTtIMDcFVdYeVAQI7cM_iA1awR9vv3g-Phs/edit?usp=sharing">
                <img width="100%" src="{% static 'ozapt/images/about.png' %}" alt="About"/>
            </a>
        </div>
        <div class="content-body left-column-box">
            <a target="_blank"
               href="https://docs.google.com/spreadsheets/d/1-ZD85wK7QFSiMDrHTdWwM9AM-YTpQHp-bYzU7fnmvMQ/edit?usp=sharing">
                <img width="100%" src="{% static 'ozapt/images/mappool.png' %}" alt="Mappool"/>
            </a>
        </div>
        <div class="content-body left-column-box">
            <a target="_blank" href="https://twitch.tv/Phreel">
                <img width="100%" src="{% static 'ozapt/images/twitch.png' %}" alt="Twitch"/>
            </a>
        </div>

        <div class="right-column">
            <div class="content-body">
                <iframe
                        src="https://player.twitch.tv/?channel=Phreel&parent=ozapt.herokuapp.com"
                        height="100%"
                        width="100%"
                        allowfullscreen="true">
                </iframe>
            </div>
        </div>
    </div>

{% endblock body %}