{% extends "default/index.html" %}
{% load static %}
{% load humanize %}
{% block head %}
    <title>osu!za Private Tournament</title>
    <link rel="stylesheet" href="{% static 'ozapt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'ozapt/mappool.css' %}"/>
    <script src="https://kit.fontawesome.com/fd151f38bf.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block body %}
    {% for mappool in mappools %}
        <div class="mappool-wrapper">
            <div class="mappool">
                <div style="display: flex">
                    <button class="mappool-header collapsible">
                        {{ mappool.name }} Pool
                    </button>
                    {% if mappool.download_url %}
                        <a download href="{{ mappool.download_url }}" style="margin-left: 10px" class="mappool-header">
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>
                    {% endif %}
                    <a target="_blank" href="{{ master_sheet_url }}" style="margin-left: 10px" class="mappool-header">
                        <i class="far fa-file-excel"></i>
                    </a>
                </div>

                <div class="maps content">
                    {% for beatmap in mappool.beatmaps %}
                        <div class="map-wrapper mod-{{ beatmap.mod }}">
                            <a href="{{ beatmap.url }}" target="_blank">
                                <div class="map"
                                     style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url({{ beatmap.cover_url }});">
                                    <div class="map-left">
                                        <div class="map-identifier">{{ beatmap.identifier }}</div>
                                        <div class="map-artist">{{ beatmap.artist }}</div>
                                        <div class="map-title">{{ beatmap.title }}</div>
                                    </div>
                                    <div class="map-right">
                                        <div class="diff-wrapper">
                                            <div class="map-diff">[{{ beatmap.version }}</div>
                                            <div class="map-diff" style="overflow: unset;">]</div>
                                        </div>
                                        <div class="map-specs">
                                            <div class="map-time">
                                                <img src="{% static 'ozapt/images/time.png' %}">
                                                {{ beatmap.length_format }}
                                            </div>
                                            <div class="map-bpm">
                                                <img src="{% static 'ozapt/images/bpm.png' %}">
                                                {{ beatmap.bpm|floatformat:0 }}</div>
                                            <div class="map-stars">
                                                <img src="{% static 'ozapt/images/star.png' %}">
                                                {{ beatmap.difficultyrating|floatformat:2 }}
                                            </div>
                                        </div>
                                        <div class="map-specs">
                                            <div class="map-ar">
                                                AR {{ beatmap.diff_approach|floatformat:1 }}
                                            </div>
                                            <div class="map-cs">
                                                CS {{ beatmap.diff_size|floatformat:1 }}</div>
                                            <div class="map-od">
                                                OD {{ beatmap.diff_overall|floatformat:1 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <i class="copy far fa-clipboard" data-beatmap-id="{{ beatmap.ext_id }}"></i>
                        <div class="copy-success hidden">copied map ID!</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div style="display: flex">
        <div class="footer">
            Thanks for the mappool inspiration, <a target="_blank" href="http://vinxis.moe/">VINXIS</a>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var maps = document.getElementsByClassName("maps");
        var i;

        for (i = 0; i < coll.length; i++) {
            if (i === 0) {
                maps[i].style.maxHeight = maps[i].scrollHeight + "px";
                coll[i].classList.add('active')
            }
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                console.log("clicked");
                var content = this.parentElement.nextElementSibling;
                console.log(content);
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
    <script>
        var elems = document.getElementsByClassName("copy");
        var texts = document.getElementsByClassName("copy-success");
        var i;
        navigator.permissions.query({name: "clipboard-write"}).then(result => {
            if (result.state === "granted" || result.state === "prompt") {
                for (i = 0; i < elems.length; i++) {
                    elems[i].addEventListener('click', function(e) {
                        e.preventDefault();
                        navigator.clipboard.writeText(this.dataset.beatmapId);
                        var text = this.nextElementSibling;
                        console.log(text)
                        text.classList.remove('hidden');
                        setTimeout(function() {
                            text.classList.add('hidden')
                        }, 1000)
                    })

                }
            }
        });
    </script>
{% endblock body %}
