{% extends "default/index.html" %}
{% load static %}
{% load humanize %}
{% block head %}
    <title>osu!za Private Tournament</title>
    <link rel="stylesheet" href="{% static 'ozapt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'ozapt/mappool.css' %}"/>
{% endblock head %}
{% block body %}
    <div class="mappool-wrapper">
        <div class="mappool">
            <div class="maps">
                {% for beatmap in beatmaps %}
                    <div class="map-wrapper mod-{{ beatmap.mod }}">
                        <a href="{{ beatmap.url }}" target="_blank">
                            <div class="map"
                                 style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url({{ beatmap.cover }});">
                                <div class="map-left">
                                    <div class="map-artist">{{ beatmap.artist }}</div>
                                    <div class="map-title">{{ beatmap.title }}</div>
                                </div>
                                <div class="map-right">
                                    <div class="diff-wrapper">
                                        <div class="map-diff">[{{ beatmap.version }}</div>
                                        <div class="map-diff" style="overflow: unset;">]</div>
                                    </div>
                                    <div class="map-specs">
                                        <div class="map-time">
                                            <img src="{% static 'ozapt/images/time.png' %}">
                                            {{ beatmap.length_format }}
                                        </div>
                                        <div class="map-bpm">
                                            <img src="{% static 'ozapt/images/bpm.png' %}">
                                            {{ beatmap.bpm|floatformat:0 }}</div>
                                        <div class="map-stars">
                                            <img src="{% static 'ozapt/images/star.png' %}">
                                            {{ beatmap.difficultyrating|floatformat:2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}