{% extends "default/index.html" %}
{% load static %}
{% load humanize %}
{% block head %}
    <title>osu!za Private Tournament</title>
    <link rel="stylesheet" href="{% static 'ozapt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'ozapt/stats.css' %}"/>
{% endblock head %}
{% block body %}
    <div class="content-box">
        <div class="content-body middle-column-box">
            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest beatmap score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_score.score.score|intcomma }} pts
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_score.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_score.beatmap.identifier }} - {{ highest_score.beatmap.artist }} - {{ highest_score.beatmap.title }} [{{ highest_score.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest average score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_avg_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_avg_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_avg_score.score|intcomma }} pts
                </div>
                <div class="stat-card-footer"></div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest combo achieved</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_combo.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_combo.user.username }}</div>
                </div>
                <div class="stat-card-player-additional" style="font-size: 45px">
                    {{ highest_combo.combo|intcomma }}x
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_combo.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_combo.beatmap.identifier }} - {{ highest_combo.beatmap.artist }} - {{ highest_combo.beatmap.title }} [{{ highest_combo.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-vs-stat-card">
                <div class="stat-card-title">Closest match</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ closest_match.user1.avatar_url }}');">
                    <div class="stat-card-player-name">{{ closest_match.user1.username }}</div>
                </div>
                <div class="stat-card-player-vs-additional">
                    <div>Average difference</div>
                    <div>{{ closest_match.score_difference|intcomma }} pts</div>
                </div>
                <div class="stat-card-player-avatar-2" style="background-image: url('{{ closest_match.user2.avatar_url }}');">
                    <div class="stat-card-player-name">{{ closest_match.user2.username }}</div>
                </div>
                <div class="stat-card-footer"></div>
            </div>

            <div class="stat-card player-vs-stat-card">
                <div class="stat-card-title">Biggest Stomp</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ biggest_stomp.user1.avatar_url }}');">
                    <div class="stat-card-player-name">{{ biggest_stomp.user1.username }}</div>
                </div>
                <div class="stat-card-player-vs-additional">
                    <div>Average difference</div>
                    <div>{{ biggest_stomp.score_difference|intcomma }} pts</div>
                </div>
                <div class="stat-card-player-avatar-2" style="background-image: url('{{ biggest_stomp.user2.avatar_url }}');">
                    <div class="stat-card-player-name">{{ biggest_stomp.user2.username }}</div>
                </div>
                <div class="stat-card-footer"></div>
            </div>

            <div class="stat-card player-vs-stat-card">
                <div class="stat-card-title">Closest map</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ closest_map.user1.avatar_url }}');">
                    <div class="stat-card-player-name">{{ closest_map.user1.username }}</div>
                </div>
                <div class="stat-card-player-vs-additional">
                    <div>Score difference</div>
                    <div>{{ closest_map.score_difference|intcomma }} pts</div>
                </div>
                <div class="stat-card-player-avatar-2" style="background-image: url('{{ closest_map.user2.avatar_url }}');">
                    <div class="stat-card-player-name">{{ closest_map.user2.username }}</div>
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ closest_map.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ closest_map.beatmap.identifier }} - {{ closest_map.beatmap.artist }} - {{ closest_map.beatmap.title }} [{{ closest_map.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest NoMod score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_nm_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_nm_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_nm_score.score.score|intcomma }} pts
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_nm_score.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_nm_score.beatmap.identifier }} - {{ highest_nm_score.beatmap.artist }} - {{ highest_nm_score.beatmap.title }} [{{ highest_nm_score.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest Hidden score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_hd_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_hd_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_hd_score.score.score|intcomma }} pts
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_hd_score.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_hd_score.beatmap.identifier }} - {{ highest_hd_score.beatmap.artist }} - {{ highest_hd_score.beatmap.title }} [{{ highest_nm_score.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest HardRock score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_hr_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_hr_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_hr_score.score.score|intcomma }} pts
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_hr_score.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_hr_score.beatmap.identifier }} - {{ highest_hr_score.beatmap.artist }} - {{ highest_hr_score.beatmap.title }} [{{ highest_hr_score.beatmap.version }}]
                    </div>
                </div>
            </div>

            <div class="stat-card player-stat-card">
                <div class="stat-card-title">Highest DoubleTime score</div>
                <div class="stat-card-player-avatar" style="background-image: url('{{ highest_dt_score.user.avatar_url }}');">
                    <div class="stat-card-player-name">{{ highest_dt_score.user.username }}</div>
                </div>
                <div class="stat-card-player-additional">
                    {{ highest_dt_score.score.score|intcomma }} pts
                </div>
                <div class="stat-card-map-info" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) center bottom / cover, url('{{ highest_dt_score.beatmap.cover_url }}');">
                    <div class="moving-text">
                        {{ highest_dt_score.beatmap.identifier }} - {{ highest_dt_score.beatmap.artist }} - {{ highest_dt_score.beatmap.title }} [{{ highest_dt_score.beatmap.version }}]
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}
