{% load static %}
<style>
    .grid-container {
        background-color: #222222;
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 15px 0;
        justify-content: center;
    }

    .header {
        display: flex;
        list-style-type: none;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #222222;
        z-index: 999;
    }

    .header-item {
        margin: auto 14px;
        display: flex;
    }
    .header-image img {
        margin-top: 2px;
        width: 43px;
        height: 43px;
    }

    .header-bullet {
        margin: auto;
        display: flex;
        vertical-align: center;
        width: 4px;
        height: 4px;
    }

    .header h2,a{
        text-decoration: none;
        color: white;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .header .header-item a:hover {
        cursor: pointer;
    }
</style>

<div class="grid-container">
    <nav>
        <ul id="nav" class="header">
            <li class="header-item header-image"><a href="{{ home_url }}"><img src="{% static 'ozapt/images/logo.png' %}" alt="osu!za logo"/></a></li>
            <li class="header-item"><h2>osu!za Private Tournament</h2></li>
            <li class="header-item"><a href="{{ home_url }}">Home</a></li>
            {% if about_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ about_url }}">About</a></li>
            {% endif %}
            {% if mappool_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ mappool_url }}">Mappool</a></li>
            {% endif %}
            {% if schedule_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ schedule_url }}">Schedule</a></li>
            {% endif %}
            {% if teams_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ teams_url }}">Teams</a></li>
            {% endif %}
            {% if players_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ players_url }}">Players</a></li>
            {% endif %}
            {% if bracket_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ bracket_url }}">Bracket</a></li>
            {% endif %}
            {% if stats_url %}
                <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
                <li class="header-item"><a href="{{ stats_url }}">Stats</a></li>
            {% endif %}
            <li class="header-bullet"><img alt="Bullet point" src="{% static "osu_tournament_site/images/bullet.png" %}"/></li>
            <li class="header-item header-image"><a target="_blank" href="https://discord.gg/eMhKcP7"><img alt="Discord" height="45px" src="{% static 'ozapt/images/discord.svg' %}"/></a></li>
        </ul>
    </nav>
</div>
