{% extends "fcwdt/base.html" %}
{% load static %}
{% block head %}
    <title>Freezing Cold Winter Days Tournament</title>
    <link rel="stylesheet" href="{% static 'fcwdt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'fcwdt/about.css' %}"/>
{% endblock head %}
{% block body %}

    <div class="content-box">
        <div class="content-body middle-column-box">
            <div class="rules-box">
                <h1 id="info">Info</h1>
                <div class="rules-text">
                    <ol>
                        <li>
                            Допускаются практически все игроки из KTH с последующим разделением на два дивизиона.<br/>
                            Игроки, которые не могут принимать участие - _Suzuha, Yoshilover456.
                        </li>
                        <li>
                            Квалификация для всех игроков будет общая, после чего будет выполнено разделение игроков по
                            дивизионам.
                        </li>
                        <li>1v1, double elimination.</li>
                        <li>При регистрации игрок обязан выбрать класс, который впоследствие нельзя будет сменить.</li>
                        <li>Стафф турнира, кроме рефери, стримеров и комментаторов, к игре не допускаются.</li>
                    </ol>
                </div>
            </div>

            <div class="rules-box">
                <h1 id="classes-and-abilities">Classes and abilities</h1>
                <div class="rules-subheading">Все способности используются только один раз за матч!</div>
                <div class="rules-text">
                    <ol>
                        <li>Insurer - Имеет на один бан больше, используется сразу же после первого основного бана
                            Insurer’а.
                        </li>
                        <li>Hacker - Возможность заменить карту в маппуле на другую такую же карту (с тем же индексом)
                            одного мода из предыдущего пула на своем пике (Например, HD1 из RO16 заменяет HD1 на SF).
                            Карта
                            заменяется после банов, перед первым пиком.
                        </li>
                        <li>Duelist - Можно переиграть последнюю сыгранную карту, если разница в счёте меньше 100к
                            (включая
                            тб)
                        </li>
                        <li>Deputy - Без ролла можно выбрать первый/второй пик и бан. Разрешена любая
                            последовательность, но
                            если бана у игроков по два, то они чередуются как обычно (К примеру, оба челебаса готовы
                            играть,
                            и Deputy сходу выбирает себе второй пик и второй бан. В таком случае оппонент обязан сделать
                            первый бан, (после чего они чередуются), и после сделать первый пик).
                        </li>
                        <li>Kamikaze - На одну карту оба игрока берут SD.</li>
                        <li>Illusionist - Свап модов (только на HR / HD секциях) для обоих игроков на одну карту (HR
                            <-->
                            HD). Используется перед началом карты.
                        </li>
                        <li>High Roller - Используется игроком перед началом карты. При победе с разницей в 500к очков
                            на
                            карте засчитывается две победы вместо одной. При проигрыше с таким же отрывом засчитывается
                            два
                            поражения.
                        </li>
                        <li>Ninja - На все карты из HR и DT секций добавляется HD.</li>
                    </ol>
                </div>

                <div class="rules-text">
                    Примечание: Illusionist при использовании способности против Ninja заставляет его играть HR без HD.
                </div>

                <div class="rules-text">
                    Если два игрока с одинаковыми способностями столкнутся друг с другом, то они будут иметь несколько
                    другой эффект:
                    <ol>
                        <li>Insurer - У игроков нет банов.</li>
                        <li>Hacker - Вместо замены одной карты, игрок может заменить всю секцию. При двойном
                            использовании
                            на одну секцию, она облегчается на два стейджа. Если это происходит на одном из первых двух
                            этапов турнира, секция удаляется, бо снижается на два.
                        </li>
                        <li>Duelist - Каждая карта со скором ниже 100к переигрывается. Если игрок выигрывает два раза
                            подряд
                            на одной карте с разницей ниже 100к, то победа на карте достаётся ему (во избежание
                            бесконечных
                            реплеев)
                        </li>
                        <li>Deputy - Игроки роллят последовательность пиков/банов друг за друга.</li>
                        <li>Kamikaze - Все карты играются с SD.</li>
                        <li>Illusionist - Карты из HD и HR секций меняются местами.</li>
                        <li>High Roller - Если игрок побеждает с разницей в 700к, то он выигрывает матч.</li>
                        <li>Ninja - Все карты играются с HD модом.</li>
                    </ol>
                </div>
            </div>
            <div class="rules-box">
                <h1 id="rules">Rules</h1>
                <div class="rules-text">
                    <ol>
                        <li>За 5 минут до матча рефери создаёт комнату и приглашает игроков.</li>
                        <li>У игроков есть 10 минут на то, чтобы зайти в лобби, в ином случае игроку, который не пришёл
                            на
                            матч, засчитывается тех. луз. Если на матч не приходят оба игрока (лмао), тех. луз
                            засчитывается
                            только тому, кто хуже отыграл квалификацию.
                        </li>
                        <li>Когда игроки зашли в лобби, они могут выбрать вармап с длиной не более четырёх минут.
                            (Length<=240)
                        </li>
                        <li>После вармапов игроки прописывают !roll. Выигрыш ролла - первый пик, проигрыш - первый бан.
                            Затем они чередуются.
                        </li>
                        <li>Ограничений на пик карт нет.</li>
                        <li>Все карты играются с NF, v2.</li>
                        <li>В случае дисконнекта игрока в первые 30 секунд, карта переигрывается (не более 1 раза за
                            матч).
                        </li>
                    </ol>
                </div>
            </div>

            <div class="rules-box">
                <h1 id="stage-info">Stage Info</h1>
                <div class="rules-text">
                    <ul>
                        <li>Qualifiers: 4/2/2/2 - 5.7* avg</li>
                        <li>RO16: 5/2/2/2/1 - 5.5* / 5.2* avg - Bo9 1 Ban</li>
                        <li>QF: 5/2/2/2/1 - 5.7 * / 5.4* avg - Bo9 1 Ban</li>
                        <li>SF - 6/3/3/3/1 - 5.9 * / 5.6* avg - Bo11 2 Bans</li>
                        <li>F - 6/3/3/3/1 - 6.1* / 5.8* | Bo11 2 Bans</li>
                        <li>GF - 7/3/3/3/1 - 6.4* / 6.1* | Bo13 2 Bans</li>
                    </ul>
                </div>
            </div>


            <div class="rules-box">
                <h1 id="schedule">Schedule</h1>
                <div class="rules-text">
                    <ul>
                        <li>31.10.20 - Начало регистрации</li>
                        <li>14.11.20 - Конец регистрации</li>
                        <li>20.11.20 - Qualifiers</li>
                        <li>27.11.20 - RO16</li>
                        <li>4.12.20 - Quarter Finals</li>
                        <li>11.12.20 - Semi Finals</li>
                        <li>18.12.20 - Finals</li>
                        <li>25.12.20 - Grand Finals</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}