{% extends "fcwdt/base.html" %}
{% load static %}
{% block head %}
    <title>Freezy Cold Winter Days Tournament</title>
    <link rel="stylesheet" href="{% static 'fcwdt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'fcwdt/index.css' %}"/>
{% endblock head %}
{% block body %}

    <div class="content-box">
        <div class="left-column-box" style="margin: 0 0 0 10px;">
            <a href="https://docs.google.com/spreadsheets/d/1xQSIans8Z_kt2kSX_oEPVKmSy3neOAdDF5A9rkqvqcQ/edit?usp=sharing"
               target="_blank"
               class="content-body left-column-box"
               style="text-shadow: 2px 2px 0 #84b4ca;">
                Spreadsheet
            </a>
            <a href="{% url 'about' %}"
               class="content-body left-column-box"
               style="background-color: #243c49; font-size: 70px; text-shadow: 4px 4px 0 #1D2830;">
                Info
            </a>
            <a href="https://www.twitch.tv/robloxxa"
               target="_blank"
               class="content-body left-column-box"
               style="background-color: #84b4ca; font-size: 70px; text-shadow: 4px 4px 0 #243c49;">
                Twitch
            </a>
        </div>

        <div class="right-column">
            <img class="splash" alt="Freezy Cold Winter Days Tournament Banner"
                 src="{% static 'fcwdt/images/freezy-banner.png' %}"/>
        </div>
    </div>

{% endblock body %}