{% extends "fcwdt/index.html" %}
{% load static %}
{% load humanize %}
{% block head %}
    <title>Freezy Cold Winter Days Tournament</title>
    <link rel="stylesheet" href="{% static 'fcwdt/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'fcwdt/players.css' %}"/>
{% endblock head %}
{% block body %}
    <div class="content-box">
        <div class="content-body middle-column-box">
            <h1>Players</h1>
            <ul class="player-list">
                {% for player in players %}
                    <a target="_blank" href="{{ player.profile_url }}">
                        <li class="player-card">
                            <span class="player-tournament-rank">#{{ forloop.counter }}</span>
                            <span class="player-card-avatar">
                            <img alt="{{ player.username }}'s avatar" title="{{ player.username }}'s avatar"
                                 src="{{ player.avatar_url }}"/>
                        </span>
                            <span class="player-card-name">
                            {{ player.username }}
                        </span>
                            <span class="player-card-flag">
                            <img src="{{ player.flag_url }}" alt="{{ player.country }} flag"
                                 title="{{ player.country }}"/>
                        </span>
                            <span class="player-card-stats">
                            Country: #{{ player.country_rank }} | Global: #{{ player.global_rank|intcomma }}
                        </span>

                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock body %}