.content-box {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 10px;
    gap: 10px;
}
.rules-box {
    background-color: #243c49;
    margin: 10px 30px;
}

.rules-box .rules-subheading {
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
.rules-box .rules-table {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    border: 1px solid white;
    border-collapse: collapse;
    margin-bottom: 10px;
    border-right: none;
    border-left: none;
    width: 100%;
}

.rules-table th {
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}
.rules-table td {
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}
.content-body div {
    padding: 10px 50px;
    color: lightgrey;
    font-size: 16px;
    line-height: 1.4;
}

.content-body h1 {
    padding: 10px 30px;
}

.middle-column-box {
    grid-column: 2 / 3;
    display: grid;
}
