.content-box {
    display: grid;
    grid-template-columns: 20px 400px 1fr 20px;
    margin-top: 10px;
    gap: 10px;
}

.content-body {
    background-color: #1D2830;
    padding: 20px;
}

.left-column-box {
    grid-column: 2;
}

.right-column {
    grid-column: 3;
}

.left-column-box a {
    text-align: left;
    font-size: 35px;
    padding-top: 30px;
}
