.mappool, .mappool-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-artist {
    font-size: 18px;
}

.mappool-header {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.mappool-header a {
    font-size: 30px;
}

.map-diff, .map-title {
    font-weight: 700;
}

.diff-wrapper {
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.map-diff {
    line-height: normal;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-bpm, .map-specs, .map-stars, .map-time, .map-ar, .map-cs, .map-od {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 3px;
}

.map-specs {
    font-size: 20px;
    justify-content: end;
    grid-column-gap: 20px;
}

.map-bpm, .map-stars, .map-time {
    grid-column-gap: 4px;
}

.mappool-wrapper {
    margin-top: 40px;
}

.mappool {
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    font-size: 24px;
    white-space: nowrap;
}

.map {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 3em;
    padding: 17px;
    grid-template-columns: 2fr 1fr;
}

.map-wrapper {
    margin-bottom: 5px;
    position: relative;
}

.map-left, .map-right {
    max-width: 100%;
    overflow: hidden;
    min-width: 100%;
}


.map-left {
    grid-column: 1/2;
}

.map-right {
    grid-column: 2/3;
    display: grid;
}

a {
    color: #fff;
    text-decoration: none;
}

.mod-NM {
    box-shadow: -10px 0 0 #6fa8dc;
}

.mod-NM:hover {
    box-shadow: -15px 0 0 #6fa8dc;
}

.mod-HD {
    box-shadow: -10px 0 0 #ffd966;
}

.mod-HD:hover {
    box-shadow: -15px 0 0 #ffd966;
}


.mod-HR {
    box-shadow: -10px 0 0 #e06666;
}

.mod-HR:hover {
    box-shadow: -15px 0 0 #e06666;
}

.mod-DT {
    box-shadow: -10px 0 0 #8e7cc3;
}

.mod-DT:hover {
    box-shadow: -15px 0 0 #8e7cc3;
}

.mod-FM {
    box-shadow: -10px 0 0 #93c47d;
}

.mod-FM:hover {
    box-shadow: -15px 0 0 #93c47d;
}

.mod-TB {
    box-shadow: -10px 0 0 #999999;
}

.mod-TB:hover {
    box-shadow: -15px 0 0 #999999;
}

.footer {
    margin: 25px auto;
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.footer a {
    color: #b113a4;
    font-weight: 700;
}

.collapsible {
    background: none;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.collapsible:before {
    color: white;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    content: "";

}

.content {
    overflow: hidden;
    padding: 0 25px;
    /*max-height: 0;*/
    transition: max-height 0.2s ease-out;
}

.copy {
    color: white;
    z-index: 998;
    position: absolute;
    top: 13px;
    left: 75px;
    font-size: 18px;
    padding: 5px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
